<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Redeem Giftcard">
  <meta name="author" content="Robert Filter">
  <link rel="icon" href="">
  <title>{{ title }}</title>
  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" >
</head>

<body>
  <div class="container-fluid">
    <h1 id="main-title">Redeem Giftcard</h1>

    <p class="instructions">To continue the music, just enter this code
    <span id="code">459-995-436</span> at
    <a href="https://www.pandora.com/gift" target="_blank">www.pandora.com/gift</a></p>
    <br>
    <br>
    <br>
    <br>
    <p class="instructions">Go back <a href="./">home</a></p>


  </div>

</script>
</body>

</html>