<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Simple interface for making an anniversary gift music player">
    <meta name="author" content="Robert Filter">
    <link rel="icon" href="">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" >
</head>

<body>
    <div class="container-fluid">
        <h1 id="main-title">Playlist</h1>

        <div id="sl">
            {% for entry in entries %}
            <div class="well">
                <h3 class="song-name">{{ entry.name }}</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div></div>
                    </div>
                    <div class="col-md-3">
                        <div>Artist:
                            <b>{{ entry.artist }}</b>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>Covered By:
                            <b>{{ entry.cover }}</b>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pull-right">
                            <audio controls>
                                <source src="http://localhost:8000/{{ entry.id }}" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>

            </div>
            {% else %}
            <li>
                <em>Unbelievable. No entries so far</em>
                {% endfor %}
        </div>
    </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>